
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
    
	</head>
  
	<body>
    
		<header>
			<h1>Home</h1>
		</header>
    
    
   
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
    
	<main> 
    
  
    <p><img src="favicon.ico" alt="google" width="200" height="200"></p>
    
		<h2>Welcome to Expense Tracker</h2>
    
    <h3>Sign In</h3>
    
    <form action="/login" method="post">
			
			<input type="text" name="user" placeholder="Username" value="{{body.user}}" autofocus>
			<input type="password" name="pass" placeholder="Password" value="{{body.pass}}">

			<input type="hidden" name="referrer" value="{{referrer}}">
      
			<input type="submit" value="Sign in">
      
		</form>
    <a href="/register" class="button">Create Account</a>
    
    
    
    
		{{#if authorised}}
			<p><a href="/secure">secure page</a></p>
		{{/if}}
    
  </main>
    
	</body>
  
  
</html>


