
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Secure Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
      
    <table>
      <tr><th>ID</th><th>DATE</th><th>LABEL</th><th>CASH</th></tr>
      {{#each records}}
        <tr>
          <td>{{this.expense_id}}</td>
          <td>{{this.expense_date}}</td>
          <td>{{this.label}}</td>
          <td>{{this.amount}}</td>
          </tr>
      
        {{/each}}
      
      
      
      
      
      
      
      </table>
      
      
      
      
      
      
      
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		</main>
	</body>
</html>
